<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>运维管理平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <base href="/static">
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <link rel="stylesheet" href="febs/css/febs.css" media="all">
    <link rel="stylesheet" href="febs/css/login.css" media="all">
    <link rel="icon" th:href="@{febs/images/favicon.ico}" type="image/x-icon"/>
</head>
<style>
.z-err{
			text-align:center;
			font-size: 14px;
			color: #EF6C6B;
			margin: 5px auto;
			
        }
	
</style>
<body>
<div id="febs-login" lay-title="登录">
    <div class="login-wrap">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-lg4 layui-col-lg-offset4 febs-tc">
                    <div class="layui-logo"><span><b>湖南捷卓科技发展有限公司</b></span></div>
                </div>
                <div class="layui-col-xs12 layui-col-lg4 layui-col-lg-offset4" id="login-div">
                    <div class="layui-form" lay-filter="login-form">
                        <div class="layui-anim layui-anim-upbit">
                            <ul class="login-type-tab">
                                <li class="active">系统登录</li>
                            </ul>
                            <div class="normal-login-form">
                                <div class="layui-form-item">
                                    <label class="layui-icon label-icon layui-icon-username"></label>
                                    <input type="text" name="user_account" lay-verify="required" id="user_account"
                                           placeholder="用户名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-item password-block">
                                    <label class="layui-icon label-icon layui-icon-password"></label>
                                    <input type="password" name="user_password" lay-verify="required" id="user_password"
                                           placeholder="密码" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-input-block">
                				<input type="checkbox" name="rememberMe" id="rememberMe" lay-skin="primary" title="记住我">
            					</div>
            					 <p id="err" class="z-err"></p>
                                <div class="layui-form-item">
                                <br>
                                    <button class="layui-btn layui-btn-normal layui-btn-fluid" lay-submit lay-filter="login-submit" id="login">
                                        <i style="display: none"
                                           class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop"></i>立即登录
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script src="plugins/jquery.1.12.4.min.js"></script>
<script src="layui/layui.js"></script>
<script src="js/login.js"></script>
<script type="text/javascript">
layui.use('form', function () {

    var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功

    form.render();

});


if (window != top) 
	top.location.href = location.href;
</script>
</body>
</html>